*, *:before, *:after {
  box-sizing: border-box;
}

.app {
  padding: 24px 48px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  background-color: #f9f9f9;
}