*, *:before, *:after {
  box-sizing: border-box;
}

.app {
  /*border: 1px solid red;*/
  padding: 24px 48px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  /*border: 1px solid red;*/
  background-color: #f9f9f9;
}